:root {
  --main-color-dark-cyan: #0E8784;
  --main-color-dark-gray-blue: #333D4B;
  --main-font-family-Barlow: "Barlow" , "Arial"  sans-serif;
  --main-font-family-Fraunces: "Fraunces" "serif";
}

@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/barlow-v5-latin-regular.woff2") format("woff2"), url("../fonts/barlow-v5-latin-regular.woff") format("woff");
}

@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/barlow-v5-latin-700.woff2") format("woff2"), url("../fonts/barlow-v5-latin-700.woff") format("woff");
}

@font-face {
  font-family: 'Fraunces';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/fraunces-v10-latin-regular.woff2") format("woff2"), url("../fonts/fraunces-v10-latin-regular.woff") format("woff");
}

@font-face {
  font-family: 'Fraunces';
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/fraunces-v10-latin-900.woff2") format("woff2"), url("../fonts/fraunces-v10-latin-900.woff") format("woff");
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  vertical-align: middle;
  -o-object-fit: cover;
     object-fit: cover;
}

body {
  margin: 0;
}

.container {
  width: 1320px;
  padding: 0 20px;
  margin: 0 auto;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px 0;
}

.header__logo {
  background: transparent;
}

.navbar__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.navbar__item {
  width: 34px;
}

.navbar__item:nth-child(2) {
  width: 64px;
  margin-right: 33px;
  margin-left: 33px;
}

.navbar__item:nth-child(2) {
  width: 131px;
}

.navbar__link {
  display: block;
  text-decoration: none;
  font-family: "Barlow", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  color: #83888F;
}

.navbar__link:hover {
  color: #333D4B;
}

.intro {
  background-image: url(../images/intro-bg.png);
  width: 1280px;
  height: 450px;
  background-color: #A2A2A2;
  border-radius: 10px;
  margin-bottom: 136px;
  padding-top: 117px;
  padding-bottom: 118px;
  padding-left: 85px;
}

.intro__title {
  margin-top: 0;
  font-family: "Fraunces", serif;
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  color: #FEFCF7;
  margin-right: 702px;
}

.intro__text {
  font-family: "Barlow", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #FEFCF7;
  opacity: 0.8;
  margin-top: 32px;
  margin-right: 750px;
  margin-bottom: 56px;
}

.commitment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.commitment-inner {
  width: 1110px;
  margin-right: auto;
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.commitment-left {
  width: 485px;
  height: 606px;
}

.commitment-right {
  width: 560px;
}

.commitment-right__title {
  margin-top: 96px;
  font-family: var(--main-font-family-Fraunces);
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  color: #333D4B;
}

.commitment-right__text {
  width: 540px;
  height: 260px;
  font-family: var(--main-font-family-Barlow);
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #333D4B;
  opacity: 0.8;
}

.uncompromessing-inner {
  height: 474px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-image: url(../images/uncompromessing-bg.png);
}

.inner-left {
  width: 540px;
  margin-top: 100px;
  margin-right: 115px;
  margin-bottom: 344px;
  margin-left: 85px;
}

.inner-image {
  width: 454px;
  height: 474px;
}

.inner-left__title {
  font-family: var(--main-font-family-Fraunces);
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  color: #FEFCF7;
}

.inner-left__text {
  width: 540px;
  font-family: var(--main-font-family-Barlow);
  font-size: 16px;
  line-height: 26px;
  color: #FEFCF7;
  opacity: 0.8;
}

.headquarters__title {
  margin-top: 100px;
  margin-left: 125px;
  font-family: "Fraunces";
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  color: #83888F;
}

.headquarters-inner {
  width: 1045px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  vertical-align: middle;
}

.headquarters-inner__left {
  width: 292px;
  margin-right: 108px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.headquarters-inner__left__img {
  width: 41px;
  height: 49px;
  margin-top: 72px;
}

.headquarters-inner__left__title {
  margin-top: 46px;
  padding: 0;
  font-family: var(--main-font-family-Fraunces);
  font-weight: 900;
  font-size: 32px;
  line-height: 36px;
  color: var(--main-color-dark-gray-blue);
}

.headquarters-inner__left__address {
  margin-bottom: 168px;
  font-family: var(--main-font-family-Barlow);
  font-size: 16px;
  line-height: 26px;
  color: var(--main-color-dark-gray-blue);
}

.headquarters-inner__mid {
  width: 292px;
  margin-right: 108px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.headquarters-inner__mid__img {
  margin-top: 72px;
  width: 52px;
  height: 50px;
}

.headquarters-inner__mid__title {
  margin-top: 46px;
  padding: 0;
  font-family: var(--main-font-family-Fraunces);
  font-weight: 900;
  font-size: 32px;
  line-height: 36px;
  color: var(--main-color-dark-gray-blue);
}

.headquarters-inner__mid__address {
  margin-bottom: 168px;
  font-family: var(--main-font-family-Barlow);
  font-size: 16px;
  line-height: 26px;
  color: var(--main-color-dark-gray-blue);
}

.headquarters-inner__right {
  width: 292px;
  margin-right: 108px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.headquarters-inner__right__img {
  margin-top: 72px;
  width: 49px;
  height: 44px;
}

.headquarters-inner__right__title {
  margin-top: 46px;
  padding: 0;
  font-family: var(--main-font-family-Fraunces);
  font-weight: 900;
  font-size: 32px;
  line-height: 36px;
  color: var(--main-color-dark-gray-blue);
}

.headquarters-inner__right__address {
  margin-bottom: 168px;
  font-family: var(--main-font-family-Barlow);
  font-size: 16px;
  line-height: 26px;
  color: var(--main-color-dark-gray-blue);
}

.footer__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1280px;
  height: 120px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #2C343E;
}

.footer__mix__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 622px;
  margin-left: 60px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__box__inner {
  margin-top: 50px;
  margin-right: auto;
  margin-bottom: 50px;
  margin-left: auto;
}

.left__box__logo {
  width: 236px;
  height: 26px;
}

.footer__navbar {
  margin-left: 100px;
}

.footer__box__navbar__link {
  color: #83888F;
}

.footer__box__navbar__link:hover {
  color: white;
}

.navbar__item {
  width: 34px;
  height: 15px;
}

.navbar__item:nth-child(2) {
  width: 64px;
}

.navbar__item:nth-child(3) {
  width: 131px;
}

.right-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: auto;
}

.right__box__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 180px;
  margin-left: 300px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.right__box__item {
  text-decoration: none;
}

.right__box__link__facebook {
  width: 24px;
  height: 9.5;
  background-image: url(../images/facebook_svg.svg);
}

.right__box__link__facebook:hover {
  background-image: url(../images/facebook_svg.svg);
}

.right__box__item__img {
  fill: white;
  -webkit-transition: fill 0.2s ease;
  transition: fill 0.2s ease;
}

.right__box__item__img:hover {
  fill: #FDD6BA;
  -webkit-transition: fill 0.2s ease;
  transition: fill 0.2s ease;
}
/*# sourceMappingURL=main.css.map */